.header-sec{
    background: url(./image/pavan.jpg);
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#name{
 font-size: 60px;
 background: -webkit-image-set("https://i.pinimg.com/originals/d4/3c/11/d43c11d76c7db33af616426597e88833.gif");
 -webkit-background-clip: text;
 background-position: 50%;
 -webkit-text-fill-color: transparent;
}

.header-sec h2{
    background: -webkit-image-set("https://www.witi.com/img/geico-flood-safety-facts-3.gif");
    -webkit-background-clip: text;
    background-position: 50%;
    -webkit-text-fill-color: transparent;
}
#btn{
    font-size: 10px;
    color: black;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid red;
    border-radius: 10px;
}


